<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>553046435263-c0b28p6ino949n77q3js7e0kggg80tj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553046435263-c0b28p6ino949n77q3js7e0kggg80tj8</string>
	<key>API_KEY</key>
	<string>AIzaSyC2aZD0GmAK3gMJBtkOjFHqQMtMCaNnBkc</string>
	<key>GCM_SENDER_ID</key>
	<string>553046435263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mossaka-ar-learning.Gallery</string>
	<key>PROJECT_ID</key>
	<string>sdhacksproject</string>
	<key>STORAGE_BUCKET</key>
	<string>sdhacksproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553046435263:ios:f2b68b3c907a9f4b</string>
	<key>DATABASE_URL</key>
	<string>https://sdhacksproject.firebaseio.com</string>
</dict>
</plist>